*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.header {
    height: 100vh;
    max-width: 1920px;
    background-image: url(../images/1920px/Главный_экран1920.png);
    background-size: cover;
    padding-top: 10%;
    .container {
        max-width: 1920px;
        
        .header-logo {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;            
        }
        .contact-header {
            float: right;
            
        }
        .header__text-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }    
    }
}